p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
font-family: Arial;
background-color: rgba(0, 0, 0, 0.322);
}
.calc {
text-align: left;
font-size: 50px;
color: darkred;
}

.calcButton {
height: 60px;
width: 60px;
background-color: rgb(50, 97, 228);
font-size: 50px;
border-radius: 80px;
cursor: pointer;
}

.clear {
height: 60px;
width: 60px;
background-color: rgb(50, 97, 228);
font-size: 50px;
width: 250px;
}

.js-calculation {

font-size: 65px;
background-color: lightcoral;
border-radius: 80px;
margin-top: 15px;
margin-bottom: 15px;
text-align: center;
margin-right: 1450px;
}